.markdown-body {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 0.75em;
}

.codeblock {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 3px;
}

.codeblock pre {
  margin: 5px;
  padding: 5px;
  border: 1px solid #c8d6e5;
  border-radius: 3px;
}

.codeblock-header {
  text-align: center;
  font-size: 0.75em;
  font-weight: 400;
}

.codeblock-filename {
  text-align: center;
  font-size: 0.6em;
  font-weight: 800;
  color: #c8d6e5;
}

.front-matter {
  padding: 10px;
  margin: 0px 0px 10px 0px;
  color: #c8d6e5;
  font-weight: 100;
  font-size: 0.75em;
  border: 1px solid #576574;
  border-radius: 3px;
}

.front-matter-bold {
  font-weight: 800;
}

.front-matter-tags {
  margin: 5px 0px 5px 0px;
}

.front-matter-tag {
  display: inline-block;
  margin: 2.5px;
  padding: 2.5px 5px 2.5px 5px;
  background-color: black;
  border-radius: 3px;
  font-weight: 400;
  color: #1dd1a1;
}

.front-matter-missing {
  font-weight: 800;
  color: #ee5253;
}
