.markdown-body {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1em;
}

.codeblock {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

.codeblock pre {
  margin: 5px;
  padding: 5px;
  border: 2px solid #c8d6e5;
}

.codeblock-header {
  text-align: center;
  font-size: 0.75em;
  font-weight: 400;
}

.codeblock-filename {
  text-align: center;
  font-size: 0.6em;
  font-weight: 800;
  color: #c8d6e5;
}

.front-matter {
  margin: 0px 0px 20px 0px;
  color: #c8d6e5;
  font-weight: 100;
  font-size: 1.25em;
  border-bottom: 2px solid #576574;
}

.front-matter-bold {
  font-weight: 800;
}

.front-matter-tags {
  margin: 5px 0px 5px 0px;
}

.front-matter-tag {
  display: inline-block;
  margin: 2.5px;
  padding: 2.5px 5px 2.5px 5px;
  background-color: black;
  font-weight: 400;
  color: #1dd1a1;
}

.front-matter-missing {
  font-weight: 800;
  color: #ee5253;
}

.listed-files {
  color: #feca57;
  font-weight: 800;
  font-size: 1.5em;
  padding-bottom: 8px;
  border-bottom: 2px solid #feca57;
}

.listed-file {
  cursor: pointer;
  transition: 100ms ease-out all;
}

.listed-file:hover {
  opacity: 0.5;
  padding-left: 5px;
}

.listed-file:active {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  color: #00d2d3;
  padding-left: 10px;
}
